{"Product": "Harpic",
 "blob_account_name": "testmlcicd",
 "blob_account_key": "Z3gMtURkcOIXc43Xzo/FpdoeQ+B6kNVxk1ra7yKY5ttKkLrNTT41O88p9TXabvN5j3ur/pPxqpwp+AStIs2mWA==",
 "front_end_model_ver": 1,
 "back_end_model_ver": 1,
 "front_end_model_path": "Harpic/Harpic_Quality_Mk6C_QT1",
 "back_end_model_path": "Harpic/Harpic_Type_REGMk3C_2022_05_17_13"}
