{'gpu': False,
 'test_data': 'C:\\Users\\Ennoventure\\OneDrive - Ennoventure Inc\\LAPTOP DATA\\Project_2021_07\\Images\\Resize\\2022_06_15_Nestle',
 'model_path': 'C:\\Users\\Ennoventure\\OneDrive - Ennoventure Inc\\LAPTOP DATA\\MODELS\\MoileNet\\Maggi_Quality_MNet_Mk1_2022_02_05_17',
 'test_limit': 0.9,
 'crop_pos': None,
 'filter_output': 'failed',
 'print_full_result': True}